<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}Políticas e Privacidade{% endblock %}
{% block mapa %}<a href="/" id="link-navegacao">Agenda Tributária</a><strong>&nbsp; > &nbsp;</strong>Políticas e Privacidade{% endblock %}
{% block code %}
<main id="politicas-pagina">
    <section>
    <header>Política de Privacidade</header>
        <div id="politicas" class="texto-corpo"></div>
    </section>
</main>
{% endblock %}
{% block class %}rodape-paginas{% endblock %}